<div class="container d-flex flex-column align-items-center" style="margin-top: 10rem;">

  <form>

    <div class="d-flex flex-column align-items-center">

      <div class="mb-3">
        <h3>Account Login</h3>
      </div>

      <div class="mb-3" style="width: 150%;">
        <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </div>

      <div class="mb-3" style="width: 150%;">
        <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
      </div>

      <div class="mt-5">
        <button type="submit" class="btn btn-outline-secondary">Sign In</button>
      </div>

    </div>

  </form>

</div>